.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700px;
  font-size: 1.8rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li::after {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background: linear-gradient(rgb(160, 43, 255), rgba(119, 6, 211, 0.533));
}

.footer-copy {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .footer-contato li {
    font-size: 1rem;
  }
}
